<div class="container is-fluid">
  <br>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>quiz</li>
      <li>{{quizTitle}}</li>
    </ul>
  </nav>

  <div class="qus-sheet" *ngFor="let que of questions;let j=index">
    <div>
      <div class="columns">
        <div class="column is-9">
          <p><b> {{j+1}})</b> {{que.que}}</p>
        </div>
        <div class="column is-3">
          <B>
            {{anss[j].givenMarks}}/{{que.assingedMarks}}
          </B>
        </div>
      </div>
      <br>

      <div *ngIf="que.ops.length != 0">
        <div *ngFor="let op of que.ops ; let i = index">
          <div *ngIf="que.queType !=='2'" class="card"
            [ngClass]="{'uk-card-danger': anss[j]?.givenAns[0] === op.op,'uk-card-primary':que.anss[0] === op.op,'uk-card-secondry':anss[j]?.givenAns[0] === op.op && que.anss[0] === op.op}">
            <span class="uk-text-large  uk-margin-small-right uk-text-bold uk-text-muted">{{i+1}}</span> &nbsp;&nbsp;
            <span>{{op.op}}</span>
          </div>
          <div class="card"
            [ngClass]="{'uk-card-danger':anss[j].givenAns.indexOf(op.op) > -1,'uk-card-primary':que.anss.indexOf(op.op)>-1,'uk-card-secondry':anss[j].givenAns.indexOf(op.op) > -1 && que.anss.indexOf(op.op)>-1 }"
            *ngIf="que.queType ==='2'">
            <span class="uk-text-large  uk-margin-small-right uk-text-bold uk-text-muted">{{i+1}}</span> &nbsp;&nbsp;
            <span>{{op.op}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="que.ops.length == 0">
        <div class="uk-margin">
          <p>
            {{anss[j]?.givenAns[0]}}
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
