<br>
<div *ngIf="!submited" class="container is-fluid ">

  <div class="columns">
    <div class="column is-3 is-offset-1 ">
      <div>
        <div>
          <div class="timer">
            {{min}}:{{sec}}
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="qus-nav">
        <div class="columns is-multiline is-mobile">
          <div class="column is-3" *ngFor="let qus of questions; let i = index">
            <button pButton type="button" label="{{i+1}}" (click)="selectQus(i)"
              [ngClass]="{'p-button-secondary': anss[ansIndex(qus._id)]?.givenAns.length !=0}">
              <span class="badge" *ngIf="flags[i]===1"></span>
            </button>

          </div>
        </div>
      </div>

    </div>


    <div class="column is-7">

      <div style="float: right;">
        <button pButton type="button" label="Submit" style="background-color:#2a3f54;" (click)="submitData()">
        </button>
      </div>


      <div class="qus-sheet">
        <div class="columns is-mobile">
          <div class="column is-9">
            <p><b> {{index+1}})</b> {{que?.que}}</p>
          </div>
          <div class="column is-3 ">
            <span class="has-text-weight-semibold">
              {{que?.assingedMarks}} Marks
            </span>
            <button pButton pRipple type="button" label="🚩" style="padding:0" class="p-button-help p-button-text"
              *ngIf="flags[index]!==1" (click)="setFlag()">
            </button>
            <button pButton pRipple type="button" label="🚫" style="padding:0" class="p-button-help p-button-text"
              *ngIf="flags[index] ===1" (click)="setFlag()">
            </button>
          </div>
        </div>

        <div *ngIf="que">

          <div *ngIf="que?.ops?.length != 0">
            <div *ngFor="let op of que.ops ; let i = index">

              <div class="p-field-radiobutton" *ngIf="que.queType !=='2'">
                <span class="">{{i+1}} &nbsp;&nbsp; </span>
                <p-radioButton name="answer" value="{{op.op}}" inputId="{{i}}"
                  [(ngModel)]="anss[ansIndex(que._id)].givenAns[0]"></p-radioButton>
                <label for="{{i}}"> &nbsp; &nbsp; {{op.op}}</label>
              </div>

              <div class="p-field-radiobutton" *ngIf="que.queType ==='2'">
                <span class="">{{i+1}} &nbsp;&nbsp; </span>
                <p-checkbox name="group1" value="{{op.op}}" [(ngModel)]="anss[ansIndex(que._id)].givenAns"
                  inputId="{{i}}"></p-checkbox>
                <label for="{{i}}">&nbsp; &nbsp; {{op.op}}</label>
              </div>
            </div>
          </div>
          <div *ngIf="que?.ops?.length == 0">
            <textarea pInputTextarea [(ngModel)]="anss[ansIndex(que._id)].givenAns[0]" [rows]="7"
              placeholder="your answer.."></textarea>
          </div>
        </div>

      </div>

      <br>

      <div style="float: right;">
        <div class="uk-button-group">
          <button pButton type="button" label="Previous" *ngIf="index==0" disabled></button>

          <button pButton type="button" label="Previous" (click)="previousQue()" *ngIf="index > 0"></button>
          &nbsp; &nbsp;
          <button pButton type="button" label="Next" (click)="nextQue()" *ngIf="index < questions?.length-1 "></button>

          <button pButton type="button" label="Next" *ngIf="index == questions?.length-1 " disabled> </button>

        </div>

      </div>

    </div>
  </div>

</div>

<div *ngIf="submited">
  <p class="uk-text-center">
    Your quiz have been submited ... !
    <a [routerLink]="[ '/st/course/quiz',{courseId:courseId,subBlockId:subBlockId} ]">back to all Quiz </a>
  </p>
</div>
