<br>
<div *ngIf="!submited" class="uk-container ">

  <div uk-grid>
    <div class="uk-width-1-4">
      <div uk-grid>
        <div class="uk-width-2-3">
          <div class="timer">
            {{min}}:{{sec}}
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="qus-nav">
        <div class="uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center" uk-grid>
          <div *ngFor="let qus of questions; let i = index">
            <a class="uk-display-block uk-card uk-card-default uk-card-body" (click)="selectQus(i)"
              [ngClass]="{'uk-card-primary': anss[ansIndex(qus._id)]?.givenAns.length !=0}">
              <span class="badge" *ngIf="flags[i]===1"></span>
              {{i+1}}</a>
          </div>
        </div>
      </div>

    </div>


    <div class="uk-width-3-4">

      <div style="float: right;">
        <button class="uk-button  uk-button-danger" style="background-color:#2a3f54;" (click)="submitData()">
          &nbsp;&nbsp;
          Submit
          &nbsp;&nbsp;</button>
      </div>


      <div class="qus-sheet">
        <div uk-grid>
          <div class="uk-width-5-6">
            <p><b> {{index+1}})</b> {{que?.que}}</p>
          </div>
          <div class="uk-width-expand uk-text-right">
            <B>
              {{que?.assingedMarks}} Marks
            </B>
            <div>
              <button style="padding: 0 20px;" class="uk-button uk-button-default" *ngIf="flags[index]!==1"
                uk-tooltip="title: add flag; pos: right " (click)="setFlag()">
                <span>🚩</span>
              </button>
              <button style="padding: 0 20px;" class="uk-button uk-button-default" *ngIf="flags[index] ===1"
                uk-tooltip="title: remove flag; pos: right" (click)="setFlag()">
                <span>🚫</span>
              </button>
            </div>
          </div>
        </div>
        <br>

        <div>

          <div *ngIf="que.ops.length != 0">
            <div style="display: flex; align-items: center;" *ngFor="let op of que.ops ; let i = index">
              <span class="uk-text-large  uk-margin-small-right uk-text-bold uk-text-muted">{{i+1}}</span>
              <a *ngIf="que.queType !=='2'"
                [ngClass]="{'uk-card-primary': anss[ansIndex(que._id)]?.givenAns[0] === op.op}"
                (click)="addAns(que._id,op.op)"
                class="uk-display-block uk-box-shadow-small options uk-card uk-card-body uk-card-small uk-link-toggle uk-width-large">
                <p>{{op.op}}</p>
              </a>
              <a [ngClass]="{'uk-card-primary':anss[ansIndex(que._id)].givenAns.indexOf(op.op) > -1}"
                (click)="addMultiAns(que._id,op.op)" *ngIf="que.queType ==='2'"
                class="uk-display-block uk-box-shadow-small options uk-card uk-card-body uk-card-small uk-link-toggle uk-width-large">
                <p>{{op.op}}</p>
              </a>
            </div>
          </div>
          <div *ngIf="que.ops.length == 0">
            <div class="uk-margin">
              <textarea class="uk-textarea" rows="5" placeholder="Answer"
                [(ngModel)]="anss[ansIndex(que._id)].givenAns[0]"></textarea>
            </div>
          </div>
        </div>

      </div>

      <br>

      <div style="float: right;">
        <div class="uk-button-group">
          <button class="uk-button  uk-button-secondary" *ngIf="index==0" disabled>Previous</button>
          <div *ngIf="index > 0">
            <button class="uk-button  uk-button-secondary" (click)="previousQue()">Previous</button>

          </div>
          <div *ngIf="index < questions.length-1 ">
            <button class="uk-button   uk-button-secondary" (click)="nextQue()"> &nbsp;&nbsp;
              Next
              &nbsp;&nbsp;</button>

          </div>

          <button class="uk-button  uk-button-success" *ngIf="index == questions.length-1 " disabled> &nbsp;&nbsp;
            Next
            &nbsp;&nbsp;</button>

        </div>

      </div>

    </div>
  </div>

</div>

<div *ngIf="submited">
  <p class="uk-text-center">
    Your quiz have been submited ... !
    <a [routerLink]="[ '/st/course/quiz',{courseId:courseId,subBlockId:subBlockId} ]">back to all Quiz </a>
  </p>
</div>
