table {
  border-collapse: separate;
  border-spacing: 0 20px;
}

table tr td {
  padding: 10px 15px !important;
  background-color: white;
}

tr {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.table {
  background-color: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
  background: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: transparent;
}


:host ::ng-deep .p-tabview .p-tabview-panels {
  background: transparent;
}
