<br>

<div class="container is-fluid">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>Quiz</li>
      <li>{{quizTitle}}</li>
    </ul>
  </nav>


  <p-tabView>
    <p-tabPanel header="Submited">
      <div class="table-container">
        <table class="table  is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr style="box-shadow: none;">
              <th>student Name</th>
              <th>Submission time</th>
              <th>status</th>
              <th>marks</th>
            </tr>
          </thead>
          <tbody>
            <tr class="quiz-row" *ngFor="let sub of allSubmission" [routerLink]="[ '/tr/course/assing-quiz-marks']"
              [queryParams]="{courseId:courseId,subBlockId:blockId,quizId:quizId,studentId:sub.studentId._id}">
              <td>{{sub.studentId.studentName  }}</td>
              <td>{{sub.submissionDate | date:'medium'}}</td>
              <td *ngIf="sub.marks"><span class="p-tag p-tag-success">Checked</span> </td>
              <td *ngIf="!sub.marks"><span class="p-tag p-tag-warning"> Not Checked</span></td>
              <td>{{sub.marks}}/{{outOf}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </p-tabPanel>
    <p-tabPanel header="not Submited">
      <table class="table is-fullwidth">
        <tbody>
          <tr class="quiz-row" *ngFor="let student of notSubmited">
            <td> {{student.studentName}}</td>
          </tr>
        </tbody>
      </table>

    </p-tabPanel>
  </p-tabView>

</div>
