<br>
<div class="container is-fluid">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>Create Assingment</li>
    </ul>
  </nav>
  <div class="card column is-8 is-offset-2 card-content">
    <form>
      <fieldset class="uk-fieldset">

        <legend class="card-title">Add New Assingment</legend>

        <div class="mb-2">
          <label class="uk-form-label" for="form-stacked-select">Add title</label>
          <input pInputText type="text" name="aname" [(ngModel)]="newAssingment.assingmentTitle"
            placeholder="Assingment Title" />
        </div>


        <p-fileUpload name="myfile" *ngIf="!newAssingment.assingmentUrl" (onSelect)="uploadFile($event)"
          [showUploadButton]="false" [showCancelButton]="false" chooseLabel="Select File"></p-fileUpload>
        <div *ngIf="newAssingment.assingmentUrl" class="chapter-box">
          <i class="pi pi-file"></i>
          <a href="{{newAssingment.assingmentUrl}}">
            {{newAssingment.assingmentTitle}} </a>
          <button pButton pRipple type="button" icon="pi pi-times" (click)="deleteRefrence()"
            class="p-button-rounded p-button-danger p-button-text"></button>
        </div>
        <br>



        <div class="columns is-vcentered" uk-grid>
          <div class="column is-6">
            <label class="uk-form-label" for="form-stacked-select">Add Deadline</label>
            <input pInputText type="date" name="deadline" [(ngModel)]="newAssingment.deadLine">
          </div>
          <div class="column is-6">
            <label class="uk-form-label" for="form-stacked-select">Marks</label>
            <input pInputText type="number" name="marks" placeholder="outof" [(ngModel)]="newAssingment.outOf">
          </div>
        </div>



        <div class="mb-2">
          <label class="uk-form-label" for="form-stacked-select">Add Description</label>
          <textarea pInputTextarea autoResize="autoResize" rows="2" name="desc"
            [(ngModel)]="newAssingment.assingmentDesc" placeholder="Assingment Description"></textarea>
        </div>



        <div class="mb-2">
          <button pButton label="Add Assingment" (click)="addAssingment()"> </button>
        </div>
      </fieldset>
    </form>

  </div>


</div>
<br><br>
