<ng-progress></ng-progress>

<br>
<div class="container is-fluid">

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>Assingments</li>
    </ul>
  </nav>

  <p-tabView>


    <p-tabPanel header="Active">
      <br>
      <div class="columns is-multiline">
        <div class="column is-4" *ngFor="let assingment of activeAssingment">
          <p-panel header="{{assingment.assingmentTitle}}">
            <p> <i class="pi pi-file"></i>
              <a href="{{assingment.assingmentUrl}}"> {{assingment.assingmentTitle}} </a>
            </p>
            <p class="">DeadLine:{{assingment.deadLine | date:'d/M/yy, h:mm a'}} </p>
            <p>marks:
              <span *ngIf="assingment.submission[0]?.marks">{{assingment.submission[0]?.marks}}</span>
              <span *ngIf="!assingment.submission[0]?.marks"> - </span>
              /{{assingment.outOf}}
            </p>
            <p *ngIf="assingment.submission[0]?.submissionDate">
              <span class="tag is-success">Submited</span>
              <span>
                {{assingment.submission[0]?.submissionDate | date:'d/M/yy, h:mm a'}}
              </span>
            </p>
            <p *ngIf="assingment.submission.length===0 && !assingment.submission[0]?.marks">
              <span class="tag is-warning">Not Submited</span>
            </p>
            <hr>
            <div class="has-text-right">
              <button pButton label="remark" (click)="submissionForm('form',assingment)"
                *ngIf="assingment.submission[0]?.marks"></button>
              <button pButton label="Submit" *ngIf="assingment.submission.length === 0 && (assingment.deadLine>=today)"
                (click)="submissionForm('form',assingment)"></button>
              <button pButton label=" Edit submission" (click)="submissionForm('form',assingment)"
                *ngIf="assingment.submission[0]?.submissionUrl && !assingment.submission[0]?.marks">
              </button>
            </div>
          </p-panel>
        </div>
      </div>

    </p-tabPanel>


    <p-tabPanel header="InActive">
      <br>
      <div class="columns is-multiline">
        <div class="column is-4 " *ngFor="let assingment of inActiveAssingment">
          <div class="card card-content">
            <p> Assingment: <a href="{{assingment.assingmentUrl}}"> {{assingment.assingmentTitle}} </a> </p>
            <p>DeadLine:{{assingment.deadLine | date:'d/M/yy, h:mm a'}} </p>
            <p>marks:
              <span *ngIf="assingment.submission[0]?.marks">{{assingment.submission[0]?.marks}}</span>
              <span *ngIf="!assingment.submission[0]?.marks"> - </span>
              /{{assingment.outOf}}
            </p>
            <p *ngIf="assingment.submission[0]?.submissionDate">last Submition:
              <span>
                {{assingment.submission[0]?.submissionDate | date:'d/M/yy, h:mm a'}}
              </span>
            </p>
            <p>
              <span class="tag is-success" *ngIf="assingment.submission[0]?.marks"> Checked </span>
              <span class="tag is-info"
                *ngIf="!assingment.submission[0]?.marks && assingment.submission.length !== 0 ">Not Checked
              </span>
              <span class="tag is-danger"
                *ngIf="assingment.submission.length===0 && !assingment.submission[0]?.marks">Not Submited</span>
            </p>
            <hr>
            <div class="has-text-right"> <button pButton label="remark" uk-toggle="target: #remark"
                (click)="submissionForm('remark',assingment)" *ngIf="assingment.submission[0]?.marks"></button></div>
          </div>
        </div>
      </div>
    </p-tabPanel>


  </p-tabView>
</div>



<p-dialog header="Title" [(visible)]="showForm" [modal]="true" styleClass="mydialog">
  <form *ngIf="toSubmit">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Submit Assingment</legend>
      <p>Assingment <span class="uk-text-bold"> {{toSubmit.assingmentTitle}} </span> </p>
      <p>Deadline: <span class="uk-text-bold"> {{toSubmit.deadLine |date}} </span></p>
      <div class="uk-margin">
        Marks: <span class="uk-text-bold">{{toSubmit.outOf}} </span>
      </div>
      <p>{{toSubmit.assingmentDesc}}</p>
      <p-fileUpload *ngIf="!newSubmition.submissionUrl" (onSelect)="uploadFile($event,toSubmit._id)" [auto]="true">
      </p-fileUpload>
      <div *ngIf="newSubmition.submissionUrl">
        <a href="{{newSubmition.submissionUrl}}">
          {{toSubmit.assingmentTitle}} </a>
        <button pButton pRipple type="button" icon="pi pi-times-circle" class="p-button-rounded p-button-text"
          (click)="deleteSubmission(toSubmit._id,newSubmition.submissionUrl)"></button>
      </div>
      <p>
        <span>this submission is my own work</span>
        &nbsp;
        <p-toggleButton [(ngModel)]="conform" name="dasa" offLabel="I confirm" onLabel="I reject" offIcon="pi pi-check"
          onIcon="pi pi-times" [style]="{'padding': '5px','font-size': '0.75rem'}" class="p-button-sm">
        </p-toggleButton>
      </p>
      <br>
      <div>
        <button pButton label="Add Submission" [disabled]="(!newSubmition.submissionUrl || !conform) "
          (click)="addSubmission(toSubmit._id)"> </button>
      </div>
    </fieldset>
  </form>
</p-dialog>


<p-dialog header="{{toSubmit?.assingmentTitle}}" [(visible)]="remark" [modal]="true" styleClass="mydialog">
  <p> marks: <strong> {{toSubmit?.submission[0]?.marks}}/{{toSubmit?.outOf}} </strong></p>
  <a href="{{toSubmit?.submission[0]?.submissionUrl}}">your submission</a>
  <p> Remark: {{toSubmit?.submission[0]?.feedback}}</p>
</p-dialog>
