.card-content {
  background-color: #fff;
  padding: 1.5rem;
}

p {
  margin-bottom: 10px;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  background: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
  background: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: transparent;
}
