<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" style="padding: 0;">
      <img src="assets/lms logo.png">
    </a>


    <div class="dropdown is-hoverable navbar-burger burger">
      <div class="dropdown-trigger">
        <a role="button" style="color: black;" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <a class="dropdown-item" [routerLink]="[ '/tr/home']">
              <i class="pi pi-home"></i> &nbsp; Home
            </a>
            <a class="dropdown-item" (click)="logout()">
              <i class="pi pi-sign-out"></i> &nbsp; Logout
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" [routerLink]="[ '/tr/home']">
        <button pButton pRipple type="button" icon="pi pi-home"
          class="p-button-rounded p-button-outlined p-button-text"></button>
      </a>
      <a class="navbar-item">
        <button pButton label="logout" (click)="logout()" class="p-button-outlined " icon="pi pi-sign-out"
          iconPos="left"></button>
      </a>
    </div>
  </div>
</nav>
