<app-topnav></app-topnav>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav mode="side" opened fixedInViewport="options.value.fixed" style="background: #fff;">
    <br><br>
    <p-menu [model]="items"></p-menu>
    <ul>
      <li style="text-align: right; padding-right: 43px;">
        <a class="colaps-btn" *ngIf="fullNav==1" (click)="setNav(0)">
          <i class="pi pi-angle-left" style="font-size: 2rem; color: #333;"></i>
        </a>
        <a class="colaps-btn" *ngIf="fullNav==0" (click)="setNav(1)">
          <i class="pi pi-angle-right" style="font-size: 2rem; color: #333;"></i>
        </a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content style="background: #eeee;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
