<br>
<div class="container is-fluid">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>Announcement Forums</li>
    </ul>
  </nav>

  <div class="card card-content mb-3">
    <p-button label="Create Assingment" [routerLink]="[ '/tr/course/create-assingment']"
      [queryParams]="{courseId:courseId,subBlockId:blockId}"></p-button>
  </div>



  <div class="columns is-multiline is-vcentered">
    <div class="column is-4" *ngFor="let assingment of allAssingment">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{assingment.assingmentTitle}}
          </p>
        </header>
        <div class="card-content">
          <p> <i class="pi pi-file"></i>
            <a href="{{assingment.assingmentUrl}}"> {{assingment.assingmentTitle}} </a>
          </p>
          <p class="">DeadLine:{{assingment.deadLine | date:'d/M/yy, h:mm a'}} </p>
          <p>marks: {{assingment.outOf}}
          </p>
          <p>
            Description:
            <span>{{assingment.assingmentDesc}}</span>
          </p>
          <p>Submission: {{assingment.submission.length}}</p>
        </div>
        <footer class="card-footer">
          <button pButton pRipple type="button" [routerLink]="[ '/tr/course/assingment-submission']"
            [queryParams]="{courseId:courseId,subBlockId:blockId,assingment:assingment._id}" label="Submission"
            icon="pi pi-users" class="p-button-text card-footer-item"></button>
          <button pButton pRipple type="button" label="Edit" icon="pi pi-pencil" class="p-button-text card-footer-item"
            (click)="editAssingment(assingment);showEditDilog=true">
          </button>
          <button pButton pRipple type="button" label="Delete" icon="pi pi-trash"
            class="p-button-text p-button-danger card-footer-item"
            (click)="deleteAssingment(assingment._id,assingment.assingmentUrl)"></button>

        </footer>
      </div>
    </div>
  </div>
</div>
<br>



<p-dialog header="Add New Assingment" [(visible)]="showEditDilog" class="mydialog" [modal]="true">
  <form>
    <fieldset class="uk-fieldset">

      <p-fileUpload name="myfile" *ngIf="!newAssingment.assingmentUrl" (onSelect)="uploadFile($event)"
        [showUploadButton]="false" [showCancelButton]="false" chooseLabel="Select File"></p-fileUpload>

      <div *ngIf="newAssingment.assingmentUrl" class="chapter-box">
        <i class="pi pi-file"></i>
        <a href="{{newAssingment.assingmentUrl}}">
          {{newAssingment.assingmentTitle}} </a>
        <button pButton pRipple type="button" icon="pi pi-times" (click)="deleteRefrence()"
          class="p-button-rounded p-button-danger p-button-text"></button>
      </div>


      <div class="mb-2">
        <label class="uk-form-label" for="form-stacked-select">Add title</label>
        <input type="text" pInputText name="aname" [(ngModel)]="newAssingment.assingmentTitle"
          placeholder="Assingment Title" />
      </div>
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label" for="form-stacked-select">Add Deadline</label>
          <input pInputText type="date" name="deadline" [(ngModel)]="newAssingment.deadLine" />
        </div>
        <div class=" uk-width-1-2@s">
          <label class="uk-form-label" for="form-stacked-select">Marks</label>
          <input type="number" name="marks" placeholder="outof" [(ngModel)]="newAssingment.outOf" pInputText />
        </div>
      </div>

      <div class="mb-2">
        <label class="uk-form-label" for="form-stacked-select">Add Description</label>
        <textarea [rows]="2" pInputTextarea autoResize="autoResize" name="desc"
          [(ngModel)]="newAssingment.assingmentDesc" placeholder="Assingment Description"></textarea>
      </div>

      <div class="mb-2">
        <p-button label=" update Assingment" (click)="updateAssingment()"></p-button>
      </div>
    </fieldset>
  </form>

</p-dialog>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast position="bottom-right"></p-toast>
