<br>
<div class="container is-fluid">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>Announcement Forums</li>
    </ul>
  </nav>



  <div class="card card-content ">
    <button pButton type="button" (click)="newAnnoModel=true;reset()" label="Make Announcemnet"></button>
  </div>
  <br>

  <div class="columns">
    <div class="column is-6" *ngFor="let announc of allAnnouncement;let i=index">
      <p-panel header="{{announc.title}}">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" icon="pi pi-pencil"
            (click)="editAnnouncement(announc)"></button>
          <button pButton class="p-panel-header-icon p-link" icon="pi pi-trash"
            (click)="deleteAnnouncement(announc._id)"></button>
        </ng-template>
        <small> {{announc.time|date:'d/M/yy, h:mm a'}}</small>
        <p>{{announc.text}}</p>
        <a href="{{announc?.attache?.fileUrl}}">{{announc?.attache?.fileName}}</a>
      </p-panel>
    </div>
  </div>



</div>
<br>

<p-dialog header="Make Announcemnet " [(visible)]="newAnnoModel" [modal]="true" styleClass="mydialog">


  <form>

    <span class="p-float-label mt-2	">
      <input pInputText id="title" name="aname" [(ngModel)]="newAnnouncement.title" type="text">
      <label for="title">Announcement Title</label>
    </span> <br>
    <span class="p-float-label">
      <textarea pInputTextarea rows="5" for="text" name="desc" [(ngModel)]="newAnnouncement.text"></textarea>
      <label for="text">Announcement Description</label>
    </span> <br>


    <p-fileUpload *ngIf="!(newAnnouncement?.attache?.fileUrl)" (onSelect)="uploadFile($event)" [auto]="true">
    </p-fileUpload>
    <div *ngIf="newAnnouncement?.attache?.fileUrl">
      <a href="{{newAnnouncement.attache.fileUrl}}">
        {{newAnnouncement.attache.fileName}} </a>
      <button pButton pRipple type="button" icon="pi pi-times-circle" class="p-button-rounded p-button-text"
        (click)="deleteRefrence()"></button>
    </div>


  </form>

  <ng-template pTemplate="footer">
    <p-button *ngIf="!updateId" (click)="addAnnouncement()" label="Add Announcement"></p-button>
    <p-button *ngIf="updateId" (click)="updateAnnouncement()" label="update Announcement"></p-button>
  </ng-template>
</p-dialog>
