<ng-progress #progressBar></ng-progress>

<!-- <app-topnav></app-topnav> -->
<br>
<div class="container is-fluid">
  <div class="columns is-centered ">
    <div class="card card-container column has-text-centered is-4">
      <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
        <p-fieldset legend="Login">
          <span class="p-float-label">
            <input id="float-input" type="text" pInputText name="emailId" ngModel>
            <label for="float-input">Username</label>
          </span> <br>
          <span class="p-float-label">
            <input id="float-input" type="password" pInputText name="password" ngModel>
            <label for="float-input">Password</label>
          </span> <br>
          <!-- <input class="uk-input" type="email" pInputText  placeholder="Email-Id"> -->
          <!-- <input class="uk-input" type="password" pInputText  placeholder="password"> -->
          <button pButton label="Login" type="submit"></button> <br> <br>
          <a (click)="showDialog()">Forgot Password !</a>
        </p-fieldset>
      </form>
    </div>
  </div>
</div>



<p-dialog header="Request for password reset." [(visible)]="display" [modal]="true" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false" styleClass="mydialog">
  <form>
    <br>
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText name="forget-email" [(ngModel)]="forgotEmail">
      <label for="float-input">Email-Id</label>
    </span>
    <br>
    <button pButton label="request Reset" (click)="resetRequest()"></button>
  </form>
</p-dialog>


<p-toast></p-toast>
