<!-- <app-topnav></app-topnav> -->
<br>

<br>
<div class="container is-fluid">
  <div class="columns is-centered ">
    <div class="card card-container column has-text-centered is-4">
      <form #resetForm="ngForm" (submit)="onSubmit(resetForm)">
        <p-fieldset legend="Reset Password">
          <span class="p-float-label">
            <input id="float-input" pInputText type="password" name="password" ngModel>
            <label for="float-input">Username</label>
          </span> <br>
          <span class="p-float-label">
            <input id="float-input" type="password" pInputText name="repassword" ngModel>
            <label for="float-input">ReEnter New Password </label>
          </span> <br>
          <button pButton label="Reset" type="submit"></button>
        </p-fieldset>
      </form>
    </div>
  </div>
</div>


<!-- 
<div class="uk-container">
  <div class=" uk-flex-center uk-flex" uk-grid>
    <div class="uk-width-1-3@m   ">
      <div class="uk-card uk-card-default uk-card-body">
        <form #resetForm="ngForm" (submit)="onSubmit(resetForm)">
          <fieldset class="uk-fieldset">

            <legend class="uk-legend uk-text-center">Reset Password</legend>
            <div class="uk-margin">
              <label class="uk-form-label"> Enter New Password </label>
              <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="password" ngModel placeholder="password">
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label"> ReEnter New Password </label>
              <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="repassword" ngModel placeholder="password">
              </div>
            </div>
          </fieldset>
          <button class="uk-button uk-button-secondary" type="submit">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div> -->
