.uk-card-body {
  display: flow-root;
  padding: 10px 10px;
}

.uk-placeholder {
  margin-bottom: 0px;
  padding: 10px 10px;
}

.title {
  padding: 10px 10px;
  background: #3333;
  margin-bottom: 20px;
}

.content>ul {
  margin: 0px;
}

.form-custom-button {
  padding: 0 2px 0 10px;
}
