<br>
<div class="container is-fluid">

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>notes</li>
    </ul>
  </nav>

  <div class="card card-content">
    <p-button label="add Folder " icon="pi pi-folder" (click)="createNewFolder = true"></p-button>
  </div>
  <br>
  <div *ngIf="createNewFolder" class="card card-content">
    <div class="uk-margin">
      <input type="text" pInputText #folder ngModel (keyup.enter)="addFolder(folder.value)" name="folder"
        placeholder="Folder Name" />
    </div>
  </div>


  <div class="mb-3" *ngFor="let folder of allFolder;let j=index">
    <p-panel header="{{folder?.folderName}}" [toggleable]="true">

      <ng-template pTemplate="icons">
        <button pButton pRipple type="button" icon="pi pi-chevron-left"
          [ngClass]="{ 'is-hidden': openFolderOption === folder._id}" (click)="openFolderOption = folder._id"
          pTooltip="Show options" class="p-button-rounded p-button-sm p-button-text"></button>
        <span *ngIf="openFolderOption == folder._id">
          <button pButton pRipple type="button" icon="pi pi-chevron-right" (click)="openFolderOption = null"
            pTooltip="Hide options" class="p-button-rounded p-button-sm p-button-text"></button>
          <button pButton pRipple type="button" icon="pi pi-pencil" (click)="renameId=folder._id"
            pTooltip="Rename Folder" class="p-button-rounded p-button-sm p-button-text"></button> &nbsp; &nbsp;
          <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="Delete Folder"
            (click)="deleteFolder(folder._id,folder)"
            class="p-button-rounded p-button-sm p-button-danger p-button-text"></button>
        </span>
      </ng-template>


      <input class="folder-name" *ngIf="renameId === folder._id" type="text" [(ngModel)]="allFolder[j].folderName"
        pTooltip="Press Enter to Save" (keyup.enter)="updateNote(folder)" name="file" pInputText
        placeholder="Note Name" />


      <ul>
        <li *ngFor="let note of folder?.notes ; let i = index" class="columns is-mobile">
          <div class="column is-8">
            <a [ngClass]="{ 'is-hidden': renameId === note._id}" href="{{note?.noteUrl}}">
              <i class="pi pi-file"></i>
              <span>{{note?.noteName}}</span>
            </a>
            <input *ngIf="renameId === note._id" type="text" [(ngModel)]="allFolder[j].notes[i].noteName"
              (keyup.enter)="updateNote(folder)" name="file" pInputText placeholder="Note Name" />
          </div>
          <div class="column is-4 has-text-right">
            <button *ngIf="renameId === note._id" pButton pRipple type="button" icon="pi pi-save" pTooltip="Save Note"
              (click)="updateNote(folder)" class="p-button-rounded p-button-sm p-button-text"></button>
            <div [ngClass]="{ 'is-hidden': renameId === note._id}">
              <button pButton pRipple type="button" icon="pi pi-pencil" (click)="renameId=note._id"
                pTooltip="Rename Note" class="p-button-rounded p-button-sm p-button-text"></button> &nbsp; &nbsp;
              <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="Delete Note"
                (click)="deleteNote(folder,i)"
                class="p-button-rounded p-button-sm p-button-danger p-button-text"></button>
            </div>
          </div>
        </li>
        <li>
          <p-button label="Add Note" icon="pi pi-cloud-upload" [ngClass]="{ 'is-hidden': toUploadNote === folder._id}"
            (click)="toUploadNote= folder._id" styleClass="p-button-sm"></p-button>

          <p-progressBar *ngIf="toUploadNote == folder._id" [showValue]="false" [value]="uploadPercent"></p-progressBar>
          <p-fileUpload name="myfile" *ngIf="toUploadNote == folder._id" (onSelect)="uploadFile($event,folder)"
            [showUploadButton]="false" [showCancelButton]="false" chooseLabel="Select Note"></p-fileUpload>
        </li>
      </ul>
    </p-panel>
  </div>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
<br>
