.uk-card-body {
  display: flow-root;
  padding: 10px 10px;
  border-left: 5px solid #673AB7;
}

.card {
  display: flow-root;
  padding: 10px 10px;
  border-left: 5px solid #673AB7;
}

.card-content {
  background-color: #fff;
  cursor: pointer;
}
