<app-topnav></app-topnav>
<div class="container is-fluid">
  <br>
  <div class="columns is-multiline">
    <div class="column is-12" *ngFor="let announc of allAnnouncement;let i=index">
      <p-panel header="{{announc.title}}">
        <small class="has-text-weight-semibold">{{announc.teacherId.teacherName}}</small> &nbsp;
        <small>{{announc.time|date:'d/M/yy, h:mm a'}}</small>
        <p>{{announc.text}}</p>
        <a href="{{announc?.attache?.fileUrl}}">{{announc?.attache?.fileName}}</a>
      </p-panel>
    </div>
  </div>
</div>
