@import "../../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../../../node_modules/uikit/src/scss/uikit-theme.scss";

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@700;900&display=swap");

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #eeee;
}

.uk-button-primary {
  background-color: #286090;
}

.uk-button-primary:hover,
.uk-button-primary:focus {
  background-color: #2a3f54;
}

.uk-button-secondary {
  background-color: #169f85;
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6,
.uk-heading-small,
.uk-heading-medium,
.uk-heading-large,
.uk-heading-xlarge,
.uk-heading-2xlarge {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.uk-button {
  text-transform: capitalize;
}

body {
  margin: 0;
}

.mat-radio-outer-circle {
  border-style: none !important;
}

.uk-breadcrumb>*>* {
  display: inline-block;
  font-size: 1.3rem;
  color: #333;
  font-weight: 500;
}
