<div class="container is-fluid">

  <br>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>Discussion</li>
    </ul>
  </nav>

  <h4 class="is-size-4">{{discTopic?.title}}</h4>
  <br>
  <article class="media">
    <div class="media-content">
      <div class="content">
        <div>
          <p>
            <strong>{{discTopic?.teacherId?.teacherName}}</strong>
            <strong>{{discTopic?.studentId?.studentName}} </strong>
            <small> {{discTopic?.time|date :'d/M/yy, h:mm a'}}</small>
          </p>
          <p>
            {{discTopic?.text}}
          </p>
          <div>
            <small class="vote-count">{{discTopic?.upvote?.length}}</small>
            <button pButton pRipple type="button" icon="pi pi-thumbs-up" class="p-button-rounded"
              (click)="upVoteDiscTopic()" [ngClass]="{'p-button-text':!hasUpVoted(discTopic)}"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="media-right">
      <button pButton pRipple type="button" icon="pi pi-trash" *ngIf="discTopic?.studentId?._id == studentId "
        class="p-button-rounded p-button-danger p-button-text" (click)="deleteDiscTopic(discTopic._id)"></button>
    </div>
  </article>

  <article class="media" *ngFor="let disc of allDiscussion">
    <div class="media-content">
      <div class="content">
        <div>
          <p>
            <strong>{{disc?.teacherId?.teacherName}}</strong>
            <strong>{{disc?.studentId?.studentName}} </strong>
            <small>
              {{disc?.time|date :'d/M/yy, h:mm a'}}</small>
          </p>
          <div [innerHTML]="disc.text"></div>
          <img [src]="disc?.imgUrl">

          <small class="vote-count">{{disc?.upvote?.length}}</small>
          <button pButton pRipple type="button" icon="pi pi-thumbs-up" class="p-button-rounded"
            (click)="upVoteDisc(disc._id)" [ngClass]="{'p-button-text':!hasUpVoted(disc)}"></button>
          <button pButton type="button" styleClass="p-button-sm" label="Reply" class="p-button-text"
            (click)="openReply(disc._id)"></button>
        </div>
      </div>

      <article class="media" *ngFor="let reply of disc.replies">
        <div class="media-content">
          <div class="content">
            <div>
              <p>
                <strong>{{reply?.teacherId?.teacherName}}</strong>
                <strong>{{reply?.studentId?.studentName}}</strong> <br>
                <small>
                  {{reply.time|date :'d/M/yy, h:mm a'}}</small>
              </p>
              <p>
                {{reply?.text}}
              </p>
              <small class="vote-count">{{reply?.upvote?.length}}</small>
              <button pButton pRipple type="button" icon="pi pi-thumbs-up" class="p-button-rounded"
                (click)="upVoteReply(disc._id,reply._id)" [ngClass]="{'p-button-text':!hasUpVoted(reply)}"></button>

              <button pButton type="button" styleClass="p-button-sm" label="Reply" class="p-button-text"
                (click)="openReply(disc._id)"></button>
            </div>
          </div>
        </div>
        <div class="media-right">
          <button pButton pRipple type="button" icon="pi pi-trash" *ngIf="reply?.studentId?._id == studentId "
            class="p-button-rounded p-button-danger p-button-text" (click)="deleteReply(disc,reply._id)"></button>
        </div>
      </article>


      <article class="media" *ngIf="replyId == disc?._id">
        <div class="media-content">
          <div class="field">
            <p class="control">
              <textarea [rows]="2" pInputTextarea autoResize="autoResize" [(ngModel)]="newReply.text" name="comment"
                placeholder="Add a comment..."></textarea>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button pButton type="button" label="Comment" (click)="addReply(disc)"></button>
            </p>
          </div>
        </div>
        <div class="media-right">
          <button pButton pRipple type="button" icon="pi pi-times-circle" class="p-button-rounded p-button-text"
            (click)="reset()"></button>
        </div>
      </article>
    </div>
    <div class="media-right">
      <button pButton pRipple type="button" icon="pi pi-trash" *ngIf="disc?.studentId?._id == studentId "
        class="p-button-rounded p-button-danger p-button-text"
        (click)="deleteDiscussion(disc._id,disc?.imgUrl)"></button>
    </div>
  </article>


  <article class="media" style="padding: 1rem;">
    <div class="media-content">
      <p-editor [(ngModel)]="newDiscussion.text" *ngIf="!imgToUpload">
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <select title="Text Alignment" class="ql-align">
              <option selected>Gauche</option>
              <option value="center" label="Center"></option>
              <option value="right" label="Right"></option>
              <option value="justify" label="Justify"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button aria-label="Link" class="ql-link"></button>
          </span>
        </p-header>
      </p-editor>

      <p-fileUpload name="myfile[]" multiple="multiple" [showUploadButton]="false" [showCancelButton]="false"
        chooseLabel="Select Image" chooseIcon="pi pi-image" (onSelect)="selectFile($event)" *ngIf="imgToUpload"
        accept="image/*"></p-fileUpload>


      <div class="field mt-3">
        <p class="control has-text-right">
          <button pButton pRipple type="button" *ngIf="!imgToUpload" class="p-button-text" (click)="imgToUpload = true"
            icon="pi pi-image" pTooltip="Attach Image" tooltipPosition="top"></button> &nbsp;&nbsp;

          <button pButton pRipple type="button" *ngIf="imgToUpload" class="p-button-text" (click)="imgToUpload = false"
            icon="pi pi-align-left" pTooltip="Add Text" tooltipPosition="top"></button> &nbsp;&nbsp;

          <button *ngIf="!loading" pButton type="button" label="Post comment" (click)="addDiscussion()"></button>
          <button *ngIf="loading" pButton type="button" label="Post comment" icon="pi pi-spin pi-spinner"></button>
        </p>
      </div>
    </div>
  </article>

  <br> <br>
