.content p:not(:last-child) {
  margin-bottom: 0em;
}

.card-content {
  background-color: #fff;
}

.vote-count {
  vertical-align: super;
  margin-right: 10px;
}

.media {
  background-color: #fff;
  padding: 1rem 2rem;
}

:host ::ng-deep .p-editor-container .p-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options .ql-picker-item {
  padding: 0.2rem;
}
