<div class="container is-fluid">
  <br>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>Discussion Forums</li>
    </ul>
  </nav>


  <div class="card card-content ">
    <button pButton type="button" (click)="newTopicModel=true" label="New Topic"></button> &nbsp; &nbsp;
  </div>
  <br>

  <div class="columns is-multiline">
    <div class="column is-6" *ngFor="let disctopic of allDiscussion">
      <article class="media">
        <div class="media-left">
          <p>
            2 <i class="pi pi-comments"></i>
          </p>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <a [routerLink]="[ '/st/course/discussion']"
                [queryParams]="{courseId:courseId,subBlockId:subBlockId,discId:disctopic._id}">
                <strong>{{disctopic.title}} </strong></a> <br>
              <small> {{disctopic.studentId.studentName}} </small>
              <small>{{disctopic.time|date:'d/M/yy, h:mm a'}}</small>
              <br>
              {{disctopic.text}}
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

</div>


<p-dialog header="Create New Discussion Topic " [(visible)]="newTopicModel" [modal]="true" styleClass="mydialog">

  <form>
    <fieldset>
      <span class="p-float-label mt-2	">
        <input pInputText id="title" [(ngModel)]="newDiscussion.title" name="title" type="text">
        <label for="title">Title</label>
      </span> <br>
      <span class="p-float-label">
        <textarea pInputTextarea rows="5" for="text" name="body" [(ngModel)]="newDiscussion.text"></textarea>
        <label for="text">Body</label>
      </span> <br>
    </fieldset>
  </form>
  <ng-template pTemplate="footer">
    <p-button (click)="newTopicModel=false" label="Cancel" styleClass="p-button-text"></p-button>
    <p-button (click)="addDiscussion()" label="Post"></p-button>
  </ng-template>
</p-dialog>
