<br>
<div class="container is-fluid">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>Assingment Submission</li>
    </ul>
  </nav>

  <p-tabView>
    <p-tabPanel header="Submited">
      <div class="table-container">
        <table class="table  is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr style="box-shadow: none;">
              <th>student Name</th>
              <th>submited file</th>
              <th>Submited time</th>
              <th>status</th>
              <th>marks</th>
            </tr>
          </thead>
          <tbody>
            <tr class="quiz-row" *ngFor="let sub of allSubmission" (click)="addMarks(sub)">
              <td>{{sub.studentId.studentName  }}</td>
              <td> <a href="{{sub.submissionUrl}}"> {{assingmentTitle}} </a> </td>
              <td>{{sub.submissionDate | date:'medium'}}</td>
              <td *ngIf="sub.marks"> <span class="p-tag p-tag-success">Checked</span> </td>
              <td *ngIf="!sub.marks"> <span class="p-tag p-tag-warning"> Not Checked</span> </td>
              <td>{{sub.marks}}/{{outOf}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </p-tabPanel>
    <p-tabPanel header="not Submited">
      <table class="table  is-striped is-narrow is-hoverable is-fullwidth">
        <tbody>
          <tr *ngFor="let student of notSubmited">
            <td>{{student.studentName}}</td>
          </tr>
        </tbody>
      </table>
    </p-tabPanel>
  </p-tabView>
</div>




<p-dialog header="Assging Marks" [(visible)]="showDilog" class="mydialog" [modal]="true">

  <form>
    <fieldset class="uk-fieldset" *ngIf="toAssist">
      <p>Name: <span class="uk-text-bold"> {{toAssist.studentId.studentName}} </span> </p>
      <p>Submited at: <span class="uk-text-bold"> {{toAssist.submissionDate |date}} </span></p>
      <div class="mb-2 columns is-vcentered is-mobile">
        <div class="column is-9">
          <label class="uk-form-label" for="form-stacked-select">Give Marks: </label>
          <input pInputText type="number" [(ngModel)]="toAssist.marks" name="assingment-marks" />
        </div>
        <div class="column is-3">
          <span class="uk-text-bold"> /{{outOf}} </span>
        </div>
      </div>
      <div class="mb-2">
        <label class="uk-form-label" for="form-stacked-select">Give Feedback</label>
        <textarea [rows]="2" name="feedback" pInputTextarea autoResize="autoResize"
          [(ngModel)]="toAssist.feedback"></textarea>
      </div>

      <div class="mb-2">
        <p-button label="Add Marks" (click)="updateSubMarks()"></p-button>
      </div>
    </fieldset>
  </form>

</p-dialog>
