<br>
<div class="container is-fluid">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>Create Quiz</li>
    </ul>
  </nav>
  <div class="columns">
    <div class=" column is-9 is-offset-1">
      <form class="card card-content">

        <div class="mb-4">Add New Quiz
          <button pButton label="Schedule Quiz" *ngIf="!toUpdate" class="uk-button uk-button-secondary"
            style="float: right;" (click)="addQuiz()"> </button>
          <button pButton label="Update Quiz" *ngIf="toUpdate" class="uk-button uk-button-secondary"
            style="float: right;" (click)="updateQuiz()">
          </button>
        </div>

        <div class="mb-4">
          <label class="uk-form-label" for="form-stacked-select">Add title</label>
          <input pInputText type="text" name="cname" [(ngModel)]="newQuiz.quizTitle" placeholder="Quiz Title">
        </div>

        <div class="mb-4 columns">
          <div class="column is-4">
            <label class="uk-form-label" for="form-stacked-select">Activate on</label>
            <input pInputText type="datetime-local" [(ngModel)]="newQuiz.activateTime" name="activation time">
          </div>
          <div class="column is-4">
            <label class="uk-form-label" for="form-stacked-select">Deadline</label>
            <input pInputText type="datetime-local" [(ngModel)]="newQuiz.deadLine" name="deadline">
          </div>
          <div class="column is-4">
            <label class="uk-form-label" for="form-stacked-select">Quiz Time in min.</label>
            <input pInputText name=time [(ngModel)]="newQuiz.qTime" type="number">
          </div>
        </div>

        <div class="mb-4" class="columns">

          <div class="column is-4">
            <label class="uk-form-label" for="form-stacked-select">Nos. of Attempt</label>
            <input pInputText name=attempt [(ngModel)]="newQuiz.noOfAttempt" type="number">
          </div>

          <div class="column is-4">
            <label class="uk-form-label" for="form-stacked-select">Marks Distribution</label> <br>
            <p-dropdown [options]="marksTypeOP" name="marksType" [(ngModel)]="marksType"></p-dropdown>
          </div>

          <div class="column is-4" *ngIf="marksType=='1'">
            <label class="uk-form-label" for="form-stacked-select">Total Marks</label>
            <input pInputText name=marks [(ngModel)]="newQuiz.outOf" type="number">
          </div>
        </div>
        <div style="align-self: center;" *ngIf="Ques.length >= 1" class="column is-4">
          <p>{{Ques.length}} Quetions Added </p>
        </div>
        <div class="column is-4" *ngIf="Ques.length < 1">
          <div class="mb-4">
            <label class="uk-form-label"> <B> NO</B> Question Added </label>
            <button pButton label="Add a Question" class="uk-button uk-button-primary  " (click)="addQues()"></button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="columns is-multiline is-vcentered ">
    <div class="column is-6" *ngFor="let ques of Ques; let j=index">
      <div class="questionBox">
        <button (click)="deleteQues(j)" style="float: right;" type="button" pButton pRipple icon="pi pi-times"
          class="p-button-rounded p-button-danger p-button-outlined"></button>
        <div class="columns">
          <div class="column is-8 ">
            <label class="uk-form-label" for="form-stacked-select">Question type</label> <br>
            <div class="select">
              <select name="" id="" #qusType (change)="selectedType(qusType.value,j)" class="uk-select">
                <option value="1" ng-model>single correct Ans</option>
                <option value="2" ng-model>Multipal correct Ans</option>
                <option value="3" ng-model>Subjective</option>
              </select>
            </div>
          </div>
          <div class="column is-4" *ngIf="marksType !=='1'">
            <label class="uk-form-label" for="form-stacked-select">Assing Marks</label>
            <input pInputText name=marks [(ngModel)]="ques.assingedMarks" type="number">
          </div>
        </div>
        <div class="mb-4">
          <textarea pInputTextarea autoResize="autoResize" rows="3" name="q" placeholder="Enter Question"
            [(ngModel)]="ques.que"></textarea>
        </div>


        <div class="single-selective" *ngIf="ques.queType==1">
          <div class="mb-4" *ngFor="let op of ques.ops ;let i=index">
            <textarea pInputTextarea autoResize="autoResize" rows="1" name="op" [(ngModel)]="op.op"
              placeholder="Option {{i}}"></textarea>
          </div>
          <div class="mb-4">
            <label class="uk-form-label" for="form-stacked-select">select Answer</label>
            <div class="select">
              <select [(ngModel)]="ques.anss[0]" name="ans">
                <option *ngFor="let op of  ques.ops;let i=index" value="{{op.op}}">{{op.op}}</option>
              </select>
            </div>
          </div>
        </div>


        <div class="multi-selective " *ngIf="ques.queType==2">

          <div class="columns is-mobile is-vcentered" *ngFor="let op of ques.ops ;let i=index">
            <div class="column is-10">
              <textarea pInputTextarea autoResize="autoResize" rows="1" name="op" [(ngModel)]="op.op"
                placeholder="Option {{i}} "></textarea>
            </div>
            <div class="column is-2">
              <button pButton pRipple type="button" icon="pi pi-check-circle" class="p-button-rounded  p-button-text"
                (click)="addAns(j,op)" *ngIf="ques.anss.indexOf(op.op)===-1"></button>
              <button pButton pRipple type="button" icon="pi pi-times-circle" class="p-button-rounded p-button-text"
                (click)="removeAns(j,op)" *ngIf="ques.anss.indexOf(op.op)!==-1"></button>

            </div>
          </div>
          <div class="">
            <label class="uk-form-label" for="form-stacked-select">selected Answers</label>
            <p *ngFor="let ans of ques.anss;let i=index">{{ans}}</p>
          </div>
        </div>


      </div>
    </div>
    <div class="column is-6  has-text-centered" *ngIf="Ques.length >= 1">
      <div style="height: 100%">
        <button pButton pRipple type="button" icon="pi pi-plus" label="Add More Question" class="p-button-raised"
          (click)="addQues()"></button>
      </div>
    </div>

  </div>

</div>

<br> <br>
