<div class="container is-fluid">
  <br>
  <div class="columns">
    <div class="column is-6">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>{{courseName}}</li>
          <li>Assingments</li>
        </ul>
      </nav>

      <div *ngFor="let assingment of assingments" class="mb-2">
        <p-panel header="{{assingment.assingmentTitle}}">
          <div class="columns is-mobile">
            <div class="column is-6">
              <span *ngIf="assingment.submission[0]?.submissionDate">
                {{assingment.submission[0]?.submissionDate | date:'d/M/yy, h:mm a'}}
              </span>
            </div>
            <div class="column is-6">
              <span *ngIf="assingment.submission[0]?.marks">{{assingment.submission[0]?.marks}}</span>
              <span *ngIf="!assingment.submission[0]?.marks"> - </span>
              /{{assingment.outOf}}
            </div>
          </div>
        </p-panel>
      </div>
    </div>

    <div class="column is-6">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>{{courseName}}</li>
          <li>Quiz</li>
        </ul>
      </nav>

      <div *ngFor="let quiz of quizs" class="mb-2">
        <p-panel header="{{quiz.quizTitle  }}">
          <div class="columns  is-mobile">
            <div class="column is-8">
              <span>{{quiz.submission[0]?.submissionDate | date:'d/M/yy, h:mm a'}}</span>
            </div>
            <div class="column is-4">
              <span *ngIf="!quiz.submission[0]?.marks"> - /</span>
              <span *ngIf="quiz.submission[0]?.marks">{{quiz.submission[0]?.marks}} /</span> {{quiz.outOf}}

            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>

</div>
