<app-topnav></app-topnav>
<br>

<div class="container  is-fluid">
  <div class="column is-12" style="background-color: #fff;">
    <full-calendar deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
  </div>
</div>
<br><br>

<p-dialog header="{{selectedEvent.title}}" [(visible)]="displayModel" [modal]="true" styleClass="mydialog">
  <p>course: {{selectedEvent.courseName}}</p>
  <p>DeadLine: {{selectedEvent.deadLine|date}}</p>
  <a *ngIf="selectedEvent.eventType ==='as'" [routerLink]="[ '/st/course/assingment']"
    [queryParams]="{courseId:selectedEvent.courseId,subBlockId:blockId}">open Assingment
    page</a>
  <a *ngIf="selectedEvent.eventType ==='qz'" [routerLink]="[ '/st/course/quiz']"
    [queryParams]="{courseId:selectedEvent.courseId,subBlockId:blockId}">open quiz Page</a>
</p-dialog>
