<ng-progress #progressBar></ng-progress>

<app-topnav></app-topnav>
<div class="container is-fluid">
  <div class="columns is-multiline">
    <div class="column is-3">
      <br>
      <div *ngFor="let course of allCourses" [routerLink]="[ '/st/course/notes']"
        [queryParams]="{courseId:course._id,subBlockId:course.blockId._id}" class="card card-content mb-2">
        <p class="has-text-weight-semibold">{{course.courseName}}</p>
        <p class="uk-text-left">
          <small> {{course.teacherId.teacherName}}</small>
        </p>
      </div>
    </div>
    <div class="column is-6">
      <app-calender></app-calender>
    </div>
    <div class="column is-3">
      <app-announcement></app-announcement>
    </div>
  </div>
</div>
