<ng-progress></ng-progress>

<br>
<div class="container is-fluid">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>notes</li>
    </ul>
  </nav>


  <p-accordion>
    <p-accordionTab *ngFor="let folder of allFolder" header="{{folder.folderName}}">
      <ul>
        <li *ngFor="let note of folder.notes">
          <a href="{{note.noteUrl}}"> <i class="pi pi-file"></i>
            {{note.noteName}}</a>
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>
</div>


<br><br>
