<br>
<div class="container is-fluid">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>Quiz</li>
    </ul>
  </nav>
  <div class="card card-content">
    <button pButton type="button" label="Create Quiz" [routerLink]="[ '/tr/course/create-quiz']"
      [queryParams]="{courseId:courseId,subBlockId:subBlockId}">
    </button>
  </div>

  <br>

  <div class="columns is-multiline is-vcentered">
    <div class="column is-4" *ngFor="let quiz of allQuiz">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{quiz.quizTitle  }}
          </p>
        </header>
        <div class="card-content">
          <p class="">DeadLine:{{quiz.deadLine  | date:'d/M/yy, h:mm a'}} </p>
          <p>Quetions:{{quiz.noOfQue}} </p>
          <p>marks: {{quiz.outOf}}
          </p>
          <p>
            Attempts :
            <span>{{quiz.noOfAttempt}}</span>
          </p>
          <p>Submission: {{quiz.submission.length}}</p>
        </div>
        <footer class="card-footer">
          <button pButton pRipple type="button" [routerLink]="[ '/tr/course/quiz-submission']" icon="pi pi-users"
            [queryParams]="{courseId:courseId,subBlockId:subBlockId,quizId:quiz._id}" label="Submission"
            class="p-button-text card-footer-item"></button>
          <button pButton pRipple type="button" label="Edit" icon="pi pi-pencil" class="p-button-text card-footer-item"
            [routerLink]="[ '/tr/course/create-quiz']"
            [queryParams]="{courseId:courseId,subBlockId:subBlockId,quizId:quiz._id}">
          </button>
          <button pButton pRipple type="button" label="Delete" icon="pi pi-trash"
            class="p-button-text p-button-danger card-footer-item" (click)="deleteQuiz(quiz._id)"></button>

        </footer>
      </div>
    </div>
  </div>
</div>
<br>
