<br>
<div class="container  is-fluid">

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>{{courseName}}</li>
      <li>quiz</li>
    </ul>
  </nav>

  <p-tabView>
    <p-tabPanel header="Active">

      <div class="columns is-multiline">
        <div class="column is-4" *ngFor="let quiz of activeQuiz">
          <p-panel header="{{quiz.quizTitle }}">
            <p>Deadline: {{quiz.deadLine | date:'d/M/yy, h:mm a'}}</p>
            <p>Marks: {{quiz.outOf}}</p>
            <p>No. of Questions: {{quiz.noOfQue}}</p>
            <p>quiz Duration: {{quiz.qTime}} min.</p>
            <p>Attepte:
              <span *ngIf="quiz.submission?.length!= 0">{{quiz.submission[0]?.attempted}}/{{quiz.noOfAttempt}}
              </span>
              <span *ngIf="quiz.submission?.length==0">0/{{quiz.noOfAttempt}}
              </span>
            </p>
            <hr>
            <p class="has-text-right">
              <button pButton label=" Start Quiz" *ngIf="canStart(quiz)" type="button"
                (click)="startQuiz(quiz._id,quiz.quizTitle)">
              </button>
            </p>
          </p-panel>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="InActive">

      <div class="columns is-multiline">
        <div class="column is-4" *ngFor="let quiz of inActiveQuiz">
          <p-panel header="{{quiz.quizTitle }}">
            <p>Deadline: {{quiz.deadLine | date:'d/M/yy, h:mm a'}}</p>
            <p>No. of Questions: {{quiz.noOfQue}}</p>
            <p>quiz Duration: {{quiz.qTime}} min.</p>
            <p>Attepte:
              <span *ngIf="quiz.submission?.length!= 0">{{quiz.submission[0]?.attempted}}/{{quiz.noOfAttempt}}
              </span>
              <span *ngIf="quiz.submission?.length==0">0/{{quiz.noOfAttempt}}
              </span>
            </p>

            <hr>
            <div class="columns is-mobile">
              <div class="column is-6">
                <span class="tag is-success" *ngIf="quiz.submission[0]?.marks"> Checked </span>
                <span class="tag is-info" *ngIf="!quiz.submission[0]?.marks && quiz.submission.length !== 0 ">Not
                  Checked
                </span>
                <span class="tag is-danger" *ngIf="quiz.submission.length===0 && !quiz.submission[0]?.marks">Not
                  Atempted</span>
              </div>
              <div class=" column is-6 has-text-right">
                <button pButton label="view Answer"
                  *ngIf="quiz.submission.length===1 && (quiz.deadLine<today) && quiz.submission[0]?.marks" type="button"
                  tabindex="-1"
                  [routerLink]="[ '/st/course/quiz-submmision', {courseId:courseId,subBlockId:subBlockId,quiz:quiz._id} ]">
                </button>
              </div>
            </div>

          </p-panel>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>



</div>
<br>




<p-dialog header="quizTitle" [(visible)]="beforStartPanal" [modal]="true" styleClass="mydialog">
  <B>Before you begin</B>
  <p>make sure you have a stable internet connection & you’re finished before exiting.</p>
  <p-footer>
    <button pButton label="Start" type="button"
      [routerLink]="[ '/st/quiz-detail', {courseId:courseId,subBlockId:subBlockId,quiz:quizId} ]"></button>
  </p-footer>
</p-dialog>
