.quiz-row {
  // cursor: pointer;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  background: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
  background: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: transparent;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: transparent;
}
